* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: skyblue;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

.main-heading {
   font-size: 8rem;
}
#value {
    font-size: 6rem;
    display: flex;
    justify-content: center;
}
.button-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;

}